a:link, a:visited {
    background-color: rgb(103, 206, 184);
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
a:hover, a:active {
    background-color: rgb(95,200,175);
}